.swiper-pagination-bullet {opacity: 0.8;}
.swiper-pagination-bullet {height: 15px; width: 15px; margin-top: 10px;}
.swiper-pagination-bullet-active {background-color: #CFB02E;}
.swiper-slide {margin-bottom: 15px;}